# Use postgres/example user/password credentials

services:

  db:
    image: postgres:latest
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
       POSTGRES_DB: ${DB_NAME}
       POSTGRES_USER: ${DB_USER}
       POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - "pgdata:/var/lib/postgresql/"

  migrate:
    image: migrate/migrate:v4.19.1
    depends_on:
      - db
    volumes:
      - ./migrations:/migrations
    # We set an entrypoint so you can run subcommands easily (up/down/version)
    entrypoint: ["migrate", "-path", "/migrations", "-database", "postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable"]

volumes:
  pgdata:
  


